* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'TT Firs Neue Trial Var Roman', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header""main""footer";

}

nav {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-bottom: solid 2px rgb(194, 192, 192);
    padding: 1em 1.5em 0.5em 1em;
}

.logoimg {
    height: auto;
    width: 10em;
    object-fit: cover;
}

ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    display: flex;
    align-items: center;
    gap: 3.5em;

}
 
li {
    font-size: 2em;
    list-style: none;
}

a {
    text-decoration: none;
    color: #104570;
    font-weight: bolder;
}

.nav2 {
    display: grid;
    grid-template-columns: repeat(2,50%);
    display: flex;
    justify-content: end;
    align-items: center;
    gap:3em;
}

.allizhead {
    width: 12.5em;
    height:auto;
    object-fit: cover;
    justify-self: flex-start;
}

.asesoriaboton {
    color: white;
    background-color: rgb(31, 129, 199);
    padding: 1em;
    border-radius: 10px;
    border-color: rgb(31, 129, 199);
    font-size: 1em;
    cursor: pointer;
    transition: opacity 0.2s ease;
    outline: none;
    width: 100%;
}

.asesoriaboton:hover,
.asesoriaboton:active {
    opacity: 0.8; 

}
.asesoriabotoncont {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #1f81c7;
    background-color:white ;
    }


    .letrasprimeras {
        display: grid;
        grid-template-rows: repeat(2,1fr);
        gap: 2.4em;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1em;
    }

    .lestrassegundas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1.3em; 
        margin-top: 1em;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        
    }

    h2 {
        font-size: 2em;
        color: #104570;
        font-weight: lighter;
    }

    h3 {
        font-size: 3em;
        color:#1f81c7;
        text-align: center;
    }

.imgretiro {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

#servicios {
  text-align: center;
  margin-top: 3em;
}

.icono {
    height: auto;
    width: 35%;
}

span {
    font-size: 2em;
    color: #104570	;
    font-weight: normal;
}

.conocemas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    padding-top: 4.5em;

}

.plandeahorro {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.planpersonal{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.planinversion {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloservicios {
    font-weight: bold;
    font-size: 5em;
    text-align: center;
    color: #1f81c7;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.botoneservicios {
    font-size: 2em;
    border: none;
    background-color: #1463A3;
    color: white;
    border-radius:  10px;
    padding: 0.5em;
    cursor: pointer;
    font-weight: normal;
}
.botoneservicios:hover,
.botoneservicios:active {
    opacity: 0.8; 

}

footer {
    background-color: #1F81C7;
    display: grid;
    height: auto;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    margin-top: 5em;
    padding: 1em;
}


.logoimg {
    display: flex;
    justify-content: end;
}

.imgalliz {
    width: 30%;
    height: 50%;
    object-fit: cover;
    margin-top: 5em;
}

.contactanos {
    display: grid;
    grid-template-rows: repeat(4,1fr);
    gap: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pcontact {
    font-size: 2em;
    color: white;
}

.horario {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.phorario {
    font-size: 2em;
    color: white;
}
.nuestrasredes {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    gap: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgfooter {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3em;
}

.h1footer {
    color: aliceblue;
    font-size: 2.5em;
}

.imgred, .ared{
    object-fit: contain;
    width: 8.5em;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1344px) {
    footer {
      grid-template-columns: repeat(auto-fill, minmax(1344px, 1fr));
      font-size: 2em;
      width: 100%;
    }

    li {
        font-size: 3em;
    }

    nav {
        gap: 0.5;
    }
    
    .nav2{
        gap: 0.5em;
    }

    .asesoriaboton {
        font-size: 1.2em;
    }

    .imgalliz {
        width: 60%;
        height: auto;
        object-fit: cover;
        margin-top: 5em;
    }

    span {
        font-size: 3em;
        color: #104570	;
        font-weight: normal;
    }

    .icono {
        height: auto;
        width: 50%;
    }

    .tituloservicios {
        font-size: 7em;
    }

    .conocemas {
        font-size: 1.2em;
    }

    }
      @media screen and (max-width: 960px) {

        .allizhead {
            display: none;
        }

        .imgalliz {
            width: 90%;
            height: auto;
            object-fit: cover;
            margin-top: 8em;
        }
        body {
            width: 100vw;
            height: auto;
        }
        nav {
            border: none;
            max-width: 100%;
            gap: 2em;
            padding: none;
        }

        .logoimg {
            height: auto;
            width: 70vw;
            object-fit: cover;
        }

        li {
            font-size:3.8em;
            list-style: none;
        }

        .asesoriaboton {
            font-size: 2em;
            width: auto;
            height: auto;
        }

        .asesoriabotoncont {
            display: flex;
            justify-content: end;
            align-items: center;
            color: #1f81c7;
            background-color:white ;
            height: auto;
            width: 100%;
            }
        
        .letrasprimeras {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(960px, 1fr));
            gap: 2.4em;
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 1em;
            font-size: 2.8em;
            width: 100%;
            margin-top:2em;
            margin-bottom: 2em;
        }

        .lestrassegundas {
            font-size: 1.8em;
        }

        h2 {
            font-size: 2em;
        }

        h3 {
            font-size: 3em;
        }
        
    .imgretiro {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .conocemas {
        grid-template-columns: repeat(auto-fill, minmax(1344px, 1fr));
        font-size: 1em;
        gap: 10em;
        width: 100%;
    }
    .tituloservicios {
        font-size: 8em;
    }

    .plandeahorro, .planpersonal, .planinversion {
        gap: 2em;
        font-size: 3.5em;
        width: 100%;
    }

  }