* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'TT Firs Neue Trial Var Roman', sans-serif;
}
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header""main""footer";

}
nav {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-bottom: solid 2px rgb(194, 192, 192);
    padding: 1em 1.5em 0.5em 1em;
}

.logoimg {
    height: auto;
    width: 10em;
    object-fit: cover;
}

ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    display: flex;
    align-items: center;
    gap: 3.5em;

}
 
li {
    font-size: 2em;
    list-style: none;
}

a {
    text-decoration: none;
    color: #104570;
    font-weight: bolder;
}

.nav2 {
    display: grid;
    grid-template-columns: repeat(2,50%);
    display: flex;
    justify-content: end;
    align-items: center;
    gap:3em;
}

.allizhead {
    width: 12.5em;
    height:auto;
    object-fit: cover;
    justify-self: flex-start;
}
    .planahorro {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 3%;
        padding: 2em;
    }

    .texto {
        display: grid;
        grid-template-columns: 3, 1fr;
        gap: 2em;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 5em;
        text-align: center;
        color:  #1f81c7 ;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        padding: 0.2em;
    }
    
    h2 {
        font-size: 3em;
        text-align: center;
        color:  #1f81c7 ;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        font-weight: bold;
    }
    
    p {
        font-size: 2em;
        text-align: justify;
        color: #104570;
    }

    .obten {
        font-size: 1em;
        background-color: rgb(31, 129, 199);
    }

    .imagencont {
        position: relative;
    }

    .imginf {
        object-fit: cover;
        height: auto;
        width: 99%;
        border-radius: 28px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        }

    .imginf2 {
        object-fit: cover;
        height: auto;
        width: 100%;
        border-radius: 28px;
        filter: blur(6px);
        z-index: 2;
    }

    .botones {
        display: flex;
        align-items: center;
    }

    .whattsappimg {
        object-fit: contain;
        width: 7em;
    }

.obten {
    border-radius: 10px;
    background-color: rgb(31, 129, 199);
    color: white;
    font-size: 2em;
    width: 100%;
    height: auto;
    border: none;
    transition: background-color 0.3s ease;
    text-align: center;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 0.5em;
  }

  .obten:hover {
    background-color: #2366a9;
  }

  .obten:active {
    animation: pulse 0.3s;
  }
  footer {
    background-color: #1F81C7;
    display: grid;
    height: auto;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    margin-top: 1em;
    padding: 1em;
}
.logoalli {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoimg {
    display: flex;
    justify-content: end;
}

.imgalliz {
    width: 30%;
    height: auto;
    object-fit: cover;
}

.contactanos {
    display: grid;
    grid-template-rows: repeat(4,1fr);
    gap: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pcontact {
    font-size: 2em;
    color: white;
}

.horario {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.phorario {
    font-size: 2em;
    color: white;
}
.nuestrasredes {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    gap: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgfooter {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3em;
}

.h1footer {
    color: aliceblue;
    font-size: 2.5em;
}

.imgred, .ared{
    object-fit: contain;
    width: 8.5em;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1344px) {
    footer {
        grid-template-columns: repeat(auto-fill, minmax(1344px, 1fr));
        font-size: 2em;
        width: 100%;
      }

      .imgalliz {
        width: 60%;
        height: auto;
        object-fit: cover;
    }
    li {
        font-size: 3em;
    }

    nav {
        gap: 0.5;
    }
    
    .nav2{
        gap: 0.5em;
    }    
    h1 {
        font-size: 5em;
    }
    .planahorro {
        grid-template-columns: none;
        grid-template-rows: repeat(2, 1fr);
        gap: 7em;
    }

    .imagencont {
        grid-row: 2;
    }
    .texto {
        gap:4em;
        justify-content: start;
    }
    h1{
        font-size: 6.5em;
        margin-top: 0.5em;
    }
    h2{
        font-size: 4.5em;
    }
    p {
        font-size: 3.5em;
    }
    .obten {
        padding: 1em;
        font-size: 3em;
    }
    .whattsappimg {
        width: 70%;
    }
}
@media screen and (max-width: 960px) {
    .allizhead {
        display: none;
    }
    .imgalliz {
        width: 90%;
        height: auto;
        object-fit: cover;
    }
    footer {
        margin-top: 1em;
    }
    body {
        width: 100vw;
        height: auto;
    }
    nav {
        border: none;
        max-width: 100%;
        gap: 2em;
        padding: none;
    }

    .logoimg {
        height: auto;
        width: 70vw;
        object-fit: cover;
    }

    li {
        font-size:5em;
        list-style: none;
    }

    h1{
        font-size: 7em;
    }
    h2{
        font-size: 5em;
    }
    p {
        font-size: 4em;
    }
    .obten {
        padding: 1em;
        font-size: 4em;
    }
    .whattsappimg {
        width: 80%;
    }
}



